.logoheading img {
    max-width: 240px;
    padding: 16px 0 17px;
    margin-left: 42%;
}

.footer-bs {
    /* margin-top: 20px; */
    background-color: #3c3d41;
    padding: 16px 40px;
    color: rgba(255, 255, 255, 1.00);
}

.container {
    max-width: 100% !important;
}

main {
    min-height: 449px;
}


/* Each page right side portionof menu */

.containerWrapper {
    padding-left: 14%;
    padding-top: 10px;
}