<!DOCTYPE html>
<main class="home">

    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top home-entity-image" src="images/client.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="images/client.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Client</h4>
                        <div class="card-text">
                            You are a CLIENT If you have a project idea and searching for talent.
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-lg" ng-click="gotoClientLogin()">Yes, I am!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top home-entity-image" src="images/talent.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="images/talent.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Talent</h4>
                        <div class="card-text">
                            You are a TALENT if you have technical skill and want to work on client's project.
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-lg" ng-click="gotoTalentLogin()">Yes, I am!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top home-entity-image" src="images/sponsor.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="images/sponsor.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">sponsor</h4>
                        <div class="card-text">
                            You are a SPONSOR, if you can provide Talent resource.
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-lg">Yes, I am!</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top home-entity-image" src="images/admin.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="images/admin.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">admin</h4>
                        <div class="card-text">
                            I am the managing and mapping person of this platform.
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-lg" ng-click="gotoAdminLogin()">Enter</button>
                    </div>
                </div>
            </div>


        </div>
    </div>

</main>