<div class="appSideMenu">

        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
    
                <div class="navi">
                    <ul role="tablist">
                        <li ng-class="{active:talentTab == 'talentHome'}"><a href="" ng-click="changeTab('talentHome')"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li ng-class="{active:talentTab == 'talentManageProfile'}"><a href="" ng-click="changeTab('talentManageProfile')"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Profile</span></a></li>
                        <li ng-class="{active:talentTab == 'talentViewProjects'}"><a href="" ng-click="changeTab('talentViewProjects')"><i class="fa fa-briefcase" aria-hidden="true"></i><span class="hidden-xs hidden-sm">View Projects</span></a></li>
                        <li ng-class="{active:talentTab == 'talentManageGroup'}"><a href="" ng-click="changeTab('talentManageGroup')"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Groups</span></a></li>
                        <li ng-class="{active:talentTab == 'talentLogout'}"><a href="" ng-click="changeTab('talentLogout')"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
                    </ul>
    
                </div>
            </div>
        </div>
</div>