<admin-menu></admin-menu>
<div class="adminHome">
        <div class="container-fluid display-table">
            <div class="row display-table-row">
                
                
                <div class="col-md-10 col-sm-11 display-table-cell v-align">
        
        
                              <div class="container-fluid navbarSetup">
                                <!-- <nav class="navbar navbar-inverse">
                                  
                                  <ul class="nav nav-pills mb-3" role="tablist">
                                    <li class="tabs nav-link active" role="presentation"><a ng-click="selectTab(1)" aria-controls="1" role="tab" data-toggle="tab">Client &nbsp;<span> (5)</span> </a></li>
                                    <li class="tabs nav-link active" role="presentation"><a ng-click="selectTab(2)" aria-controls="2" role="tab" data-toggle="tab">Talent &nbsp;<span> (10)</span></a></li>
                                    <li class="tabs nav-link active" role="presentation"><a ng-click="selectTab(3)" aria-controls="3" role="tab" data-toggle="tab">Sponser &nbsp;<span> (2)</span></a></li>
                                  </ul>
                                </nav> -->
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                  <li class="tabs nav-link " ng-class="{active:selectedTab == 1}"  role="presentation"><a ng-click="selectTab(1)" aria-controls="1" role="tab" data-toggle="tab">Client &nbsp;<span> (5)</span></a></li>
                                  <li class="tabs nav-link " ng-class="{active:selectedTab == 2}" role="presentation"><a ng-click="selectTab(2)" aria-controls="2" role="tab" data-toggle="tab">Talent &nbsp;<span> (10)</span></a></li>
                                  <li class="tabs nav-link " ng-class="{active:selectedTab == 3}" role="presentation"><a ng-click="selectTab(3)" aria-controls="3" role="tab" data-toggle="tab">Sponser &nbsp;<span> (2)</span></a></li>
                                </ul>
                                
                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                    <div class = "mainArea" role="tabpanel" ng-show="selectedTab == 1">
                                       <div class="content"> You Have new <span> 5 </span> Client registration Request.</div>
                                    </div>
                                    <div class = "mainArea" role="tabpanel"  ng-show="selectedTab == 2">
                                          <div class="content"> 
                                            New talent group created :<span> 5 </span> 
                                            <br><br>
                                            New pitch request from talent : <span>5</span>
                                            </div>
                                    </div>
                                    
                                    <div class = "mainArea" role="tabpanel" ng-show="selectedTab == 3">
                                        <div class="content">There are <span> 2 </span> new sponsers request.</div>
                                    </div>
                                   
                                  </div>
                                
                                </div>
                        
                </div>
            </div>
        
        </div>
        </div>