<div class="clienthome">

    <talent-menu></talent-menu>
    <div class="containerWrapper">
        <div class="container">


       


                <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item" ng-class="{active:selectedTab == 1}" role="presentation">
                            <a class="nav-link" ng-click="selectTab(1)" data-toggle="tab" role="tab">Profile</a>
                        </li>
                        <li class="nav-item" ng-class="{active:selectedTab == 2}" role="presentation">
                            <a class="nav-link" ng-click="selectTab(2)" data-toggle="tab" role="tab">Follow</a>
                        </li>
                        <li class="nav-item" ng-class="{active:selectedTab == 3}" role="presentation">
                            <a class="nav-link" ng-click="selectTab(3)" data-toggle="tab" role="tab">Contact</a>
                        </li>
                </ul>
                
                <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" ng-class="{active:selectedTab == 1}" ng-show="selectedTab == 1">
                            hi
                        </div>

                        <div role="tabpanel" class="tab-pane" ng-class="{active:selectedTab == 2}" ng-show="selectedTab == 2">
                            hi2
                        </div>
                        
                        <div role="tabpanel" class="tab-pane" ng-class="{active:selectedTab == 3}" ng-show="selectedTab == 3">   
                            hi3
                        </div>
                </div>
                  

                <div class="display-table-row">
                        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                
                            <div class="navi">
                                <ul role="tablist">
                                    <li ng-class="{active:talentTab == 'talentHome'}"><a href="" ng-click="changeTab('talentHome')"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                                    <li ng-class="{active:talentTab == 'talentManageProfile'}"><a href="" ng-click="changeTab('talentManageProfile')"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Profile</span></a></li>
                                    <li ng-class="{active:talentTab == 'talentViewProjects'}"><a href="" ng-click="changeTab('talentViewProjects')"><i class="fa fa-briefcase" aria-hidden="true"></i><span class="hidden-xs hidden-sm">View Projects</span></a></li>
                                    <li ng-class="{active:talentTab == 'talentManageGroup'}"><a href="" ng-click="changeTab('talentManageGroup')"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Groups</span></a></li>
                                    <li ng-class="{active:talentTab == 'talentLogout'}"><a href="" ng-click="changeTab('talentLogout')"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
                                </ul>
                
                            </div>
                        </div>
                    </div>
</div>




        </div>
    </div>
</div>