<div class="clienthome">

  <client-menu></client-menu>
  <div class="containerWrapper">
    <div class="container">

      <form class="form-horizontal">
        <fieldset>
          <legend>Add Profile Details</legend>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company Name</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input id="companyName" name="companyName" placeholder="Company Name" class="form-control" required="true" value="" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address Line 1</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-home"></i>
                  </span>
                  <input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control" required="true"
                    value="" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address Line 2</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-home"></i>
                  </span>
                  <input id="addressLine2" name="addressLine2" placeholder="Address Line 2" class="form-control" required="true"
                    value="" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-home"></i>
                  </span>
                  <input id="city" name="city" placeholder="City" class="form-control" required="true" value="" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">State/Province/Region</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-home"></i>
                  </span>
                  <input id="state" name="state" placeholder="State/Province/Region" class="form-control" required="true"
                    value="" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Postal Code/ZIP</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-home"></i>
                  </span>
                  <input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control" required="true"
                    value="" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-envelope"></i>
                  </span>
                  <input id="email" name="email" placeholder="Email" class="form-control" required="true" value="" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-earphone"></i>
                  </span>
                  <input id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="form-control" required="true"
                    value="" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Size</label>
            <div class="col-sm-7">
              <div class="input-group mb-3">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input name="numberofEmployee" placeholder="Number of Employee" class="form-control" required="true" value=""
                    type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <span class="col-md-4 control-span"></span>
            <div class="col-md-8 inputGroupContainer">
              <input class="btn btn-primary" type="button" name="save" ng-click="" value="Submit">&nbsp;
              <input class="btn btn-primary" type="button" name="cancel" ng-click="" value="Cancel">
            </div>

          </div>


        </fieldset>
      </form>
    </div>
  </div>
</div>